.App {
  text-align: center;
}

.post {
  border-width: 3px;
  border-style: dashed;
  border-color: cadetblue;
  align-self: center;
  padding: 20px;
  margin: 5px;
  margin-left: 10%;
  margin-right: 10%;
  word-break: break-all;
}

.img {
  width: 150px;
  height: 100px;
}

.textareaBox{
  height: 100px;
}

