.App {
  text-align: center;
}

.post {
  border-width: 3px;
  border-style: dashed;
  border-color: cadetblue;
  align-self: center;
  margin: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

.img {
  width: 150px;
  height: 100px;
}

.textBox{
  width: 15%;
}

.textareaBox{
  width: 20%;
  height: 100px;
}

